$_drawer_width: 260px;
$_folder_drawer_width: 80px;
$_translate_left: -260px + 80px; // when open
$_translate_right: 260px - 80px; // when not open
$_transiate_half: 90px; // (260 - 80)/2

$_transition_tf: transform 300ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
$_transition_ml: margin-left 300ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;

$_sidebar_img_path: "https://file.mk.co.kr/meet/neds/2017/10/image_readtop_2017_665962_15075442363054731.jpg";


/*
* TODO:
* CSS hover modify self and other class, 
* using ~ adjacent selector to target the adjacent elements 
*  (only on child) 
*/ 
.menu {
  position: fixed;
  margin: 0;
  padding: 22px 15px;
  min-width: $_drawer_width;
  min-height: 100vh;
  color: #ffffff;
  background: url($_sidebar_img_path) no-repeat center center;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  user-select: none;
  z-index: 10000;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
  }
  &:hover {
    transform: translate(0);
    transition: $_transition_tf;
  }
}

.expand {
  transform: translateX(0);
  transition: $_transition_tf;
}

.collaspe {
  transform: translateX($_translate_left);
  transition: $_transition_tf;
}

/*
*   detail for home icon
*/
.captionCollaspe {
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease 0ms;
}
.captionExtend {
  display: flex;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 300ms ease 0ms;
}

// .caption {
//   display: flex;
//   align-items: center;
//   opacity: 1;
//   visibility: visible;
//   transition: opacity 300ms ease 0ms;
// }

// .hideCaption {
//   opacity: 0;
//   visibility: hidden;
//   transition: opacity 300ms ease 0ms;
// }

/*
*  for avator icon
*/
.drawerUser {
  display: flex;
  align-items: center;
  position: relative;
  margin: 24px 0;
  padding: 20px 0;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
  }
  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
  }
}
.iconCollaspe {
  width: 48px;
  white-space: nowrap;
  transform: translateX($_translate_right);
  text-align: center;
  transition: transform 300ms ease 0ms;
  
}
.iconExtend {
  width: auto;
  transform: translateX(0);
  transition: transform 300ms ease 0ms;
}

/*
*   link 
*/
.formatAnchorTag {
  color: #ffffff;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.linkActive {
  width: auto;
  display: block;
  border-radius: 3px;
  background: #4caf50;
  box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28),
    0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}
.linkActiveCollaspe { //TODO
  width: 48px;
  transition: all 50ms ease 0ms;
}

.linkItem:hover {
  border-radius: 3px;
  background-color: rgba(76, 175, 80, 1);
}

.linkCollaspe {
  width: 48px;
  display: block;
  transform: translateX($_translate_right);
  transition: transform 300ms ease 0ms;
}
.linkExtend {
  width: auto;
  display: block;
  transform: translate(0),;
  transition: transform 300ms ease 0ms width 50ms ease 0ms;
}


/*
*   child group
*/
.childrenGroup {
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms ease 0ms;
}
.unfoldChildren {
  transition: max-height 300ms ease 0ms;
}
